<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='wyait后台管理'"></head>

<body>
<div th:fragment="role">

    <form id="addVisitor" class="layui-form" action="#" method="post">

        <div class="layui-form-item">
            <label class="layui-form-label">来访姓名：</label>
            <div class="layui-input-block">
                <input type="text" name="visitorName" lay-verify="required" autocomplete="off" class="layui-input"
                       th:value="${visitor.visitorName}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">来访电话：</label>
            <div class="layui-input-block">
                <input type="text" name="visitorPhone" lay-verify="required" autocomplete="off" class="layui-input"
                       th:value="${visitor.visitorPhone}"/>
            </div>
        </div>

        <input type="hidden" id="dormRoomIded" name="dormRoomIded" th:value="${visitor.dormRoomId}"/>
        <input type="hidden" id="studentIded" name="studentIded" th:value="${visitor.studentId}"/>

        <div class="layui-form-item">
            <label class="layui-form-label">访问宿舍：</label>
            <div class="layui-input-inline">
                <select id="dormRoomId" name="dormRoomId" lay-filter="dormRoomId">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">访问学生：</label>
            <div class="layui-input-inline">
                <select id="studentId" name="studentId" lay-filter="studentId">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">离开时间：</label>
            <div class="layui-inline">
                <input type="text" name="goAwayTime" class="layui-input" id="goAwayTime"
                       th:value="${#dates.format(visitor.goAwayTime, 'yyyy-MM-dd')}">
            </div>
        </div>

    </form>
</div>
<script>
    layui.use('form', function () {
        var form = layui.form;
        $.ajax({
            url: '/dormRoom/getDormRoomList',
            type: "get",
            dataType: "json",
            contentType: "application/json",
            async: false,
            success: function (result) {
                var dormRoomIded = $("#dormRoomIded").val()
                var dormRoomList = result.data;
                var strs = "<option value = ''>" + "请选择" + "</option>";
                for (var x in dormRoomList) {
                    if (dormRoomIded == dormRoomList[x].id) {
                        strs += '<option value = "' + dormRoomList[x].id + '" selected="selected">' + dormRoomList[x].dormRoomNo + '</option>'
                    } else {
                        strs += '<option value = "' + dormRoomList[x].id + '">' + dormRoomList[x].dormRoomNo + '</option>'
                    }

                }
                $("#dormRoomId").html(strs);
                form.render('select');//最后记得渲染
            }
        });

        //添加layui的监听事件

        var dormRoomIded = $("#dormRoomIded").val();//获得选中的option的值
        $.ajax({
            url: '/student/getStuByDormRoomId?dormRoomId=' + dormRoomIded,//带参数将这个传到后台条件查询方法里面
            type: "get",
            dataType: "json",
            contentType: "application/json",
            async: false,//同步
            success: function (result) {
                var studentIded = $("#studentIded").val()
                var studentList = result.data;
                var strs = "<option value = ''>" + "请选择" + "</option>";
                for (var x in studentList) {
                    if (studentIded == studentList[x].id) {
                        strs += '<option value = "' + studentList[x].id + '" selected="selected">' + studentList[x].stuName + '</option>'
                    } else {
                        strs += '<option value = "' + studentList[x].id + '">' + studentList[x].stuName + '</option>'
                    }
                }
                $("#studentId").html(strs);
            }
        });
        form.render('select');//最后记得渲染
    });

</script>
</body>
</html>