<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='访客管理'"></head>
<body style="width: 100%">
<form id="visitorSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">访客姓名</label>
        <div class="layui-input-inline">
            <input id="visitorName" name="visitorName" autocomplete="off" class="layui-input" type="text"/>
        </div>

        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        <button class="layui-btn" lay-submit="" lay-filter="searchSubmit">搜索</button>
    </div>
</form>
<button class="layui-btn layui-btn-danger" lay-submit="" id="delVisitor" style="float: left">批量删除</button>
<button class="layui-btn" lay-submit="" id="addVisitor" style="float: right">添加</button>
<!--<hr class="layui-bg-blue"/>-->
<hr class="layui-bg-black"/>

<table id="visitorList" lay-filter="visitorTable"></table>

<script type="text/html" id="optBar">
    <a class="layui-btn layui-btn-xs" lay-event="lookVisitor">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="editVisitor">编辑</a>
    <a class="layui-btn layui-btn-xs" lay-event="delVisitor">删除</a>
</script>

</div>

<script src="/js/visitorList.js"></script>

<script>
    $("#addVisitor").click(function () {
        layer.open({
            type: 2,
            title: '添加来客',
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '90%'],
            content: '/visitor/toAddVisitor'
        });
    })

    $(function () {
        layui.use('table', function () {
            var table = layui.table

            $("#delVisitor").click(function () {
                var checkStatus = table.checkStatus('visitorTableId'); //idTest 即为基础参数 id 对应的值
                var selected = checkStatus.data //获取选中行的数据
                var selectedNum = selected.length //获取选中行数量，可作为是否有选中行的条件
                if (0 == selectedNum) {
                    layer.msg("未选中订单")
                    return;
                }
                var visitorIds = "";
                for (var i = 0; i < selectedNum; i++) {
                    if (i != selectedNum - 1) {
                        visitorIds += selected[i].id + ",";
                    } else {
                        visitorIds += selected[i].id;
                    }
                }

                layer.confirm('您确定全部删除吗？', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    $.post("/visitor/delVisitors", {"visitorIds": visitorIds}, function (data) {
                        if (data.success) {
                            layer.alert("删除成功", function (index) {
                                layer.close(index); //再执行关闭
                                load($("visitorSearch").serialize());
                            });
                        } else {
                            layer.alert(data.message);
                        }
                    });
                }, function () {
                    return;
                });
            })
        });
    })
</script>
</body>
</html>