<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='wyait后台管理'"></head>

<body>
<div th:fragment="role">

    <form id="addAdmin" class="layui-form" action="#" method="post">

        <div class="layui-form-item">
            <label class="layui-form-label">昵称：</label>
            <div class="layui-input-inline">
                <input type="text" name="nickname" lay-verify="required" autocomplete="off" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">账号：</label>
            <div class="layui-input-inline">
                <input type="text" name="loginName" lay-verify="required" autocomplete="off" class="layui-input" />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-inline">
                 <input type="password" name="passwd"  lay-verify="required" autocomplete="off" class="layui-input" / >
            </div>
        </div>
    </form>
    <div class="layui-form-item">
        <input type="button" name="addBtn" id="addBtn" class="layui-btn" value="确定"/>
    </div>
</div>
<script>
    layui.use('form', function () {
        var form = layui.form;

    });

    $("#addBtn").click(function () {
        $.post("/admin/addAdmin", $("#addAdmin").serialize(), function (data) {
            if (data.success) {
                layer.alert("添加成功", function (index) {
                    window.parent.location.reload();//刷新父页面
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                });
            } else {
                layer.alert(data.message);
            }
        });
    })
</script>
</body>
</html>